.tran-Boxes {
    width: 30%;
    height: 20vh;
    margin-left: 1%;
    margin-right: 1%;
    background-color: deepskyblue;
    border: solid 1px black;
    font-weight: bold;
    font-size: larger;
    cursor: pointer;
}